

<p>Enable the Chrome experimental web platform features by entering chrome://flags then enabling Experimental Web Platform features</p>
<p>Pair the Instabeat device with your computer then click the button below to download the device data</p>
<p>A pop up window will apppear so that you can select the Instabeat device</p>

<button>Get Bluetooth Device Information Characteristics</button>

{% include output_helper.html %}

{% include js_snippet.html filename='main.js' %}

<script>
  document.querySelector('button').addEventListener('click', function() {
    if (isWebBluetoothEnabled()) {
      ChromeSamples.clearLog();
      onButtonClick();
    }
  });
</script>

{% include_relative _includes/utils.html %}
{% include_relative _includes/value-to-usb-vendor-name.html %}
